<STYLE>
<!--
	BODY{FONT-FAMILY:Georgia, serif; SIZE:15pt;}

	A.NOLINE:LINK{TEXT-DECORATION:none; COLOR:green; FONT-FAMILY:Verdana,Arial,Helvetica; 
		FONT-SIZE:12.0pt; FONT-WEIGHT:Bold;}
	A.NOLINE:ACTIVE{TEXT-DECORATION:none; COLOR:red; FONT-FAMILY:Verdana,Arial,Helvetica; 
		FONT-SIZE:12.0pt; FONT-WEIGHT:Bold;}
	A.NOLINE:VISITED{TEXT-DECORATION:none; COLOR:blue; FONT-FAMILY:Verdana,Arial,Helvetica; 
		FONT-SIZE:12.0pt; FONT-WEIGHT:Bold;}
	A.BUTTON{TEXT-DECORATION:none;}
	A.HOVER{TEXT-DECORATION:underline;}
	A{TEXT-DECORATION:none;}


	H1{TEXT-ALIGN:center; COLOR:#993300; TEXT-DECORATION:none;
		FONT-FAMILY:Cooper BlkHd BT; FONT-STYLE:normal;}
	H2{TEXT-ALIGN:center; COLOR:#0b0089; FONT-STYLE:normal; 
		TEXT-DECORATION:underline;}
	H3{TEXT-ALIGN:center; COLOR:#0c440c; FONT-FAMILY:Cooper Md BT; 
		FONT-STYLE:italic; TEXT-DECORATION:none;}
	H4{TEXT-ALIGN:left; COLOR:#800000; FONT-STYLE:italic;}

	P{TEXT-ALIGN:justify; MARGIN-LEFT:1.0CM; MARGIN-RIGHT:1.0CM; TEXT-INDENT:1.5CM; FONT-FAMILY:Georgia, serif; FONT-SIZE:15.0pt;} 
	P.MARGIN{MARGIN-LEFT:2.5CM; TEXT-INDENT:0;}    
	P.RIGHT{TEXT-ALIGN:right; FONT-SIZE:12.0pt; FONT-WEIGHT:bold; COLOR:#092f7b;}
	P.RIGHT1{TEXT-ALIGN:right; TEXT-DECORATION:none; FONT-FAMILY:Verdana,Arial,Helvetica; FONT-WEIGHT:bold; FONT-STYLE:italic; FONT-SIZE:12.0pt; COLOR:#0000FF;}
	P.LEFT{TEXT-ALIGN:left; TEXT-DECORATION:none; FONT-SIZE:12.0pt; COLOR:#0000FF;}
	P.CENTER{TEXT-ALIGN:center; TEXT-DECORATION:none; FONT-SIZE:12.0pt; COLOR:#0000FF;}
	P.INDENT{TEXT-ALIGN:justify; TEXT-INDENT:25px;}
	P.NOINDENT{TEXT-ALIGN:justify; TEXT-INDENT:0;}
	P.FLOAT{float:right;}
	P.CENTER{TEXT-ALIGN:center; TEXT-INDENT:0; COLOR:#540554; FONT-SIZE:15.0pt; FONT-WEIGHT:bolder;}
	P.MAIL{TEXT-ALIGN:center; TEXT-INDENT:0; TEXT-DECORATION:none; COLOR:#691469; FONT-SIZE:15.0pt; FONT-WEIGHT:normal;}
	P.MENUHEAD {MARGIN:0; TEXT-ALIGN:center; TEXT-INDENT:0; BACKGROUND-COLOR:#800000; FONT-SIZE:20; COLOR:#FFFFFF;  FONT-WEIGHT:bold;}

	UL{LIST-STYLE-TYPE:square;}
	
	BLOCKQUOTE{WIDTH:60%; ALIGN:center;}

	HR{COLOR:#800000; HEIGHT:3px;}

	.blink {animation: blinker 1s linear infinite;}

	@keyframes blinker {50% {opacity: 0;}}

-->
</STYLE>